body
{
   background:linear-gradient(#FAE3E3,#F7D4BC,#CFA5B4,#C98BB9,#846B8A);
   margin:0;
    text-align: center;
}

#h1
{
    text-align:center;
    text-decoration: dotted UNDERLINE BLACK;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:65px;
}

.pic
{
    border-radius: 70%;
    border-color: black;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 5px grey;
}

#h2
{
            text-align: center;
            color: black;
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 30px;
            font-weight: bold;
            padding: 0px;
}

#intro
{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-size: 20px;
            margin-left: 100px;
            margin-right: 100px;
            color: black;
            line-height: 1.6;
}

#follow{
            text-align: center;
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 25px;
            color:black;
}
.buttons{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            color: black;
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 20px;
            padding: 10px 10px;
            border:2px solid black;
            border-radius: 5px;
            cursor: pointer;
            gap:10px 
}
.pic1{
            border-radius: 20%;
            border-color: black;
            border-top: 2px solid black;
            border-bottom: 2px solid black;
            box-shadow: 2px 2px 5px grey;
            position: relative;
    }
    footer
    {
            text-align: center;
            font-family: 'Arial Black', Gadget, sans-serif;
            font-size: 15px;
            color:black;
    }
    #contact{
            text-align: center;
            font-family: 'Arial Black', Gadget, sans-serif;
            color:black;
    }            
